<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996086520169-kk9449feupn8qk31k4mtu3kfq19l75mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996086520169-kk9449feupn8qk31k4mtu3kfq19l75mp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996086520169-bqqv5g8gm3t9c1upmp9ukthc9m1jg1hl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCReATnUCzUbqYbsV5omPNuwJf9yAA79k</string>
	<key>GCM_SENDER_ID</key>
	<string>996086520169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finesseFrontend</string>
	<key>PROJECT_ID</key>
	<string>finesse-772de</string>
	<key>STORAGE_BUCKET</key>
	<string>finesse-772de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996086520169:ios:e59f4cf9826dc80b4b85f8</string>
</dict>
</plist>